<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295665969725-89j2l6mpnt5ktgid566414t2vmacvtgn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295665969725-89j2l6mpnt5ktgid566414t2vmacvtgn</string>
	<key>API_KEY</key>
	<string>AIzaSyD12RTT3NXURqxtCRIYNl8JmonzvIzKU7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>295665969725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>training.WorkList</string>
	<key>PROJECT_ID</key>
	<string>worklist-94131</string>
	<key>STORAGE_BUCKET</key>
	<string>worklist-94131.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:295665969725:ios:3c0370250e7bda69</string>
	<key>DATABASE_URL</key>
	<string>https://worklist-94131.firebaseio.com</string>
</dict>
</plist>
